doctype html
html
  head
    title All Pokemons Data
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
    style.
      table.ui.celled img { display: inline-block; border: 1px solid black;}
      table.ui.celled * {  border: 1px solid black;}

  body
    main#main
    h1.ui.center.aligned.header All Pokemons Data
    .ui.container

      block content